@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    scroll-behavior: smooth;
    letter-spacing: var(--space-xxx-small);
    line-height: normal;
}

/* Design System and Styling Guide */

:root {

    /* Color System */

    --primary-color: #fff;
    --foreground-color: #233895af;
    --background-color: #020910;
    --container-color: #060100;
    --accent-color: #00f7ff;
    --border-color: #00f7ff;
    --heading-color: #fff;
    --body-color: #fff;
    --border-color: #00f7ff;
    --shadow-color: #3b505c;

    /* Typographic System */

    /* Size */

    --font-size-xx-small: 0.25rem;
    --font-size-x-small: 0.5rem;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-x-medium: 1.2rem;
    --font-size-large: 1.5rem;
    --font-size-x-large: 2rem;
    --font-size-xx-large: 2.5rem;
    --font-size-xxx-large: 3rem;

    /* Weight */

    --font-weight-small: 250;
    --font-weight-medium: 300;
    --font-weight-large: 350;
    --font-weight-x-large: 400;
    --font-weight-xx-large: 500;
    --font-weight-xxx-large: 600;
    --font-weight-xxxx-large: 700;

    /* Spacing System */

    --space-xxx-small: -0.03125rem;
    --space-xx-small: 0.25rem;
    --space-x-small: 0.5rem;
    --space-small: 0.75rem;
    --space-medium: 1rem;
    --space-large: 1.5rem;
    --space-x-large: 2rem;
    --space-xx-large: 2.5rem;
    --space-xxx-large: 4rem;
    --space-global: 5rem;
    --space-extreme: 20rem;

    /* Shadow System */

    --offset-x: var(--space-xx-small);
    --offset-y: var(--space-xx-small);
    --shadow-blur: var(--space-x-small);
    --shadow-spread: var(--space-x-small);
}

/* Navigation Bar Styling */

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: var(--space-medium) var(--space-x-large);
    column-gap: var(--space-large);
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

.navbar .nav-links {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: var(--space-medium);
    padding: var(--space-medium);
}

.brand-logo,
.brand-logo img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    object-fit: cover;
}

.brand-logo img {
    border: var(--space-xx-small) solid var(--border-color);
}

.brand-logo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* Navigation Bar Text Styles */

.nav-links a,
.brand-logo a {
    text-decoration: none;
    color: #fff;
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-small);
    transition: all 0.3s ease-in-out;
}

.brand-logo a:hover {
    color: #00f7ff;
    font-weight: var(--font-weight-xx-large);
    transform: scale(1.1);
    border-radius: 100px;
}

.nav-links a:hover {
    color: #00f7ff;
    font-weight: var(--font-weight-xx-large);
    transform: scale(1.1);
    border-radius: 100px;
}

/* Hero Section Styling */

.hero-section {
    width: 100%;
    height: 100vh;
    padding: 0 var(--font-size-x-large);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('./assets/background_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--container-color);
    filter: blur(00.5px);
}

/* Hero Content Styling */

.hero-content {
    width: 100%;
    height: auto;
    margin: var(--space-global) auto;
    padding: var(--space-x-large) var(--space-x-large);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: var(--space-global);
}

/* Hero Heading Styling */

.left-hero-content h1,
.right-hero-content h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: var(--font-weight-xxx-large);
    color: var(--primary-color);
    margin-bottom: var(--space-small);
}

/* Hero Subheading Styling */

.left-hero-content a:hover,
.right-hero-content a:hover {
    color: var(--accent-color);
    transition: all 0.1s ease-in-out;
}

/* Hero Paragraph Styling */

.left-hero-content p {
    font-size: var(--font-size-x-medium);
    font-weight: var(--font-weight-large);
    color: var(--primary-color);
    text-align: left;
}

/* Right Hero Content Paragraph Styling */

.right-hero-content p {
    font-size: var(--font-size-x-medium);
    font-weight: var(--font-weight-large);
    color: var(--primary-color);
    text-align: left;
}

/* Hero Links Styling */

.left-hero-content a,
.right-hero-content a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Left and Right Hero Content Styling */


.left-hero-content {
    width: 100%;
    height: var(--space-extreme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: var(--space-x-small);
    background-color: var(--foreground-color);
    padding: var(--space-xx-large);
    border-radius: var(--space-medium);
    box-shadow: calc(var(--offset-x) * -1) var(--offset-y) var(--shadow-blur) var(--shadow-color);
}

.left-hero-content:hover {
    box-shadow: -6px 6px 8px var(--accent-color);
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
    border: 0.5px solid var(--accent-color);
    outline: none;
}

.right-hero-content {
    width: 100%;
    height: var(--space-extreme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: var(--space-x-small);
    background-color: var(--foreground-color);
    padding: var(--space-xx-large);
    border-radius: var(--space-medium);
    box-shadow: var(--offset-x) var(--offset-y) var(--shadow-blur) var(--shadow-color);
}

.right-hero-content:hover {
    box-shadow: 6px 6px 8px var(--accent-color);
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
    border: 0.5px solid var(--accent-color);
    outline: none;
}

/* Footer Styling */

.footer {
    width: 100%;
    height: auto;
    padding: var(--space-x-large) var(--space-x-large);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.footer-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: var(--space-global);
}

.footer p {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--accent-color);
}

/* Social Media Links Styling */

.social-media {
    width: 100%;
    height: auto;
    padding: var(--space-x-small);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: var(--space-large);
}

.social-media a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--font-size-small);
    transition: all 0.3s ease-in-out;
}

.social-media a:hover {
    color: var(--accent-color);
    font-weight: 600;
    transform: scale(1.1);
    border-radius: 100px;
}

.social-media,
.social-media img {
    width: 20px;
    height: 20px;
}

/* Scroll Styling */

.marquee {
    width: 100%;
    padding: var(--space-x-small);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--accent-color);
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 480px) {
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: var(--space-medium) var(--space-x-large);
        background-color: #fff;
        column-gap: var(--space-large);
        position: sticky;
        top: 0;
        background-color: var(--background-color);
    }

    .navbar .nav-links {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: var(--space-medium);
        padding: var(--space-medium);
    }

    .brand-logo {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-section {
        width: 100%;
        height: auto;
        padding: var(--space-x-large) var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./assets/background_image.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--container-color);
        filter: blur(00.5px);
    }

    .hero-content {
        width: 100%;
        height: auto;
        margin: var(--space-x-large) auto;
        padding: var(--space-x-large) var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-large);
    }

    .left-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .right-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .footer {
        width: 100%;
        height: auto;
        padding: var(--space-medium) var(--space-medium);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--container-color);
        row-gap: 1rem;
    }

    .footer-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-global);
        row-gap: var(--space-medium);
        flex-wrap: wrap;
    }

    .social-media {
        width: 100%;
        height: auto;
        padding: var(--space-x-small);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-large);
    }

}

/* Responsiveness for Mobile Devices */

@media screen and (max-width: 740px) {
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: var(--space-medium) var(--space-x-large);
        background-color: var(--primary-color);
        column-gap: var(--space-large);
        position: sticky;
        top: 0;
        background-color: var(--background-color);
    }

    .navbar .nav-links {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: var(--space-medium);
        padding: var(--space-medium);
    }

    .brand-logo {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-section {
        width: 100%;
        height: auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./assets/background_image.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--container-color);
        filter: blur(00.5px);
    }

    .hero-content {
        width: 100%;
        height: auto;
        margin: var(--space-x-large) auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-large);
    }

    .left-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .right-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .footer {
        width: 100%;
        height: auto;
        padding: var(--space-medium);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--container-color);
        row-gap: var(--space-small);
    }

    .footer-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-global);
        row-gap: var(--space-medium);
        flex-wrap: wrap;
    }

    .social-media {
        width: 100%;
        height: auto;
        padding: var(--space-x-small);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-large);
    }

}

/* Responsiveness for Mobile Devices */

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: var(--space-medium) var(--space-x-large);
        background-color: #fff;
        column-gap: var(--space-large);
        position: sticky;
        top: 0;
        background-color: #020910;
    }

    .navbar .nav-links {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: var(--space-medium);
        padding: var(--space-medium);
    }

    .brand-logo {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-section {
        width: 100%;
        height: auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./assets/background_image.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--container-color);
        filter: blur(00.5px);
    }

    .hero-content {
        width: 100%;
        height: auto;
        margin: var(--space-x-large) auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-large);
    }

    .left-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .right-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .footer {
        width: 100%;
        height: auto;
        padding: var(--space-small);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--container-color);
        row-gap: var(--space-medium);
    }

    .footer-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-global);
        row-gap: var(--space-medium);
        flex-wrap: wrap;
    }

    .social-media {
        width: 100%;
        height: auto;
        padding: var(--space-x-small);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-large);
    }

}

/* Responsiveness for Tablets */

@media screen and (max-width: 896px) {
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: var(--space-medium) var(--space-x-large);
        background-color: #fff;
        column-gap: var(--space-large);
        position: sticky;
        top: 0;
        background-color: var(--background-color);
    }

    .navbar .nav-links {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: var(--space-medium);
        padding: var(--space-medium);
    }

    .brand-logo {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-section {
        width: 100%;
        height: auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./assets/background_image.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--container-color);
        filter: blur(00.5px);
    }

    .hero-content {
        width: 100%;
        height: auto;
        margin: var(--space-x-large) auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-large);
    }

    .left-hero-content {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .right-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .footer {
        width: 100%;
        height: auto;
        padding: var(--space-medium);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--container-color);
        row-gap: var(--space-medium);
    }

    .footer-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-global);
        row-gap: var(--space-medium);
        flex-wrap: wrap;
    }

    .social-media {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-large);
    }

}

/* Responsiveness for Mobile Devices */

@media screen and (max-width: 932px) {
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: var(--space-medium) var(--space-x-large);
        background-color: #fff;
        column-gap: var(--space-large);
        position: sticky;
        top: 0;
        background-color: #020910;
    }

    .navbar .nav-links {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: var(--space-medium);
        padding: var(--space-medium);
    }

    .brand-logo {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-section {
        width: 100%;
        height: auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./assets/background_image.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--container-color);
        filter: blur(00.5px);
    }

    .hero-content {
        width: 100%;
        height: auto;
        margin: var(--space-x-large) auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-large);
    }

    .left-hero-content {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .right-hero-content {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .footer {
        width: 100%;
        height: auto;
        padding: var(--space-medium);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--container-color);
        row-gap: var(--space-medium);
    }

    .footer-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-global);
        row-gap: var(--space-medium);
        flex-wrap: wrap;
    }

    .social-media {
        width: 100%;
        height: auto;
        padding: var(--space-x-small);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-large);
    }

}

/* Responsiveness for Tablets */

@media screen and (max-width: 1024px) {
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: var(--space-medium) var(--space-x-large);
        background-color: var(--primary-color);
        column-gap: var(--space-large);
        position: sticky;
        top: 0;
        background-color: var(--background-color);
    }

    .navbar .nav-links {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: var(--space-medium);
        padding: var(--space-medium);
    }

    .brand-logo {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-section {
        width: 100%;
        height: auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./assets/background_image.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--container-color);
        filter: blur(00.5px);
    }

    .hero-content {
        width: 100%;
        height: auto;
        margin: var(--space-x-large) auto;
        padding: var(--space-x-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-xxx-large);
    }

    .left-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .right-hero-content {
        width: 100%;
        height: var(--space-extreme);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: var(--space-x-small);
        padding: var(--space-large);
    }

    .footer {
        width: 100%;
        height: auto;
        padding: var(--space-medium);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--container-color);
        row-gap: var(--space-medium);
    }

    .footer-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-extreme);
    }

    .social-media {
        width: 100%;
        height: auto;
        padding: var(--space-x-small);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-medium);
    }

}